# Part of Speech Demo

In [ ]:
import pandas as pd
import spacy
nlp = spacy.load("en_core_web_sm")

In [ ]:
def do_it(text):
    doc = nlp(text)
    output=[]

    for token in doc:
        output.append({
            'Text': token.text,
            # 'Lemma': token.lemma_,
            'POS': token.pos_,
            'Tag': token.tag_,
            # 'Dep': token.dep_,
            # 'Shape': token.shape_,
            #'Alpha': token.is_alpha,
            'Stop': token.is_stop,
        })
        
    return pd.DataFrame(output)

In [18]:
do_it("Apple is looking at buying U.K. startup for $1 billion")

       Text    POS  Tag   Stop
0     Apple  PROPN  NNP  False
1        is    AUX  VBZ   True
2   looking   VERB  VBG  False
3        at    ADP   IN   True
4    buying   VERB  VBG  False
5      U.K.  PROPN  NNP  False
6   startup   NOUN   NN  False
7       for    ADP   IN   True
8         $    SYM    $  False
9         1    NUM   CD  False
10  billion    NUM   CD  False

In [19]:
do_it("Stephen Thomas works at Queen's University.")

         Text    POS  Tag   Stop
0     Stephen  PROPN  NNP  False
1      Thomas  PROPN  NNP  False
2       works   VERB  VBZ  False
3          at    ADP   IN   True
4       Queen  PROPN  NNP  False
5          's   PART  POS   True
6  University  PROPN  NNP  False
7           .  PUNCT    .  False

In [20]:
do_it("Text analytics is pretty cool.")

        Text    POS  Tag   Stop
0       Text   NOUN   NN  False
1  analytics   NOUN  NNS  False
2         is    AUX  VBZ   True
3     pretty    ADV   RB  False
4       cool    ADJ   JJ  False
5          .  PUNCT    .  False

In [26]:
do_it("Steve Thomas works as a professor at Queen's University.")

          Text    POS  Tag   Stop
0        Steve  PROPN  NNP  False
1       Thomas  PROPN  NNP  False
2        works   VERB  VBZ  False
3           as  SCONJ   IN   True
4            a    DET   DT   True
5    professor   NOUN   NN  False
6           at    ADP   IN   True
7        Queen  PROPN  NNP  False
8           's   PART  POS   True
9   University  PROPN  NNP  False
10           .  PUNCT    .  False

In [22]:
do_it("Police police police police.")

     Text    POS  Tag   Stop
0  Police   NOUN   NN  False
1  police   NOUN   NN  False
2  police   NOUN   NN  False
3  police   NOUN  NNS  False
4       .  PUNCT    .  False

In [23]:
do_it("Buffalo buffalo buffalo buffalo buffalo buffalo buffalo buffalo.")

      Text    POS  Tag   Stop
0  Buffalo  PROPN  NNP  False
1  buffalo  PROPN  NNP  False
2  buffalo  PROPN  NNP  False
3  buffalo  PROPN  NNP  False
4  buffalo  PROPN  NNP  False
5  buffalo  PROPN  NNP  False
6  buffalo  PROPN  NNP  False
7  buffalo  PROPN  NNP  False
8        .  PUNCT    .  False

In [24]:
do_it("How much wood could a woodchuck chuck if a woodchuck could chuck wood?")

         Text    POS  Tag   Stop
0         How    ADV  WRB   True
1        much    ADJ   JJ   True
2        wood   NOUN   NN  False
3       could   VERB   MD   True
4           a    DET   DT   True
5   woodchuck   NOUN   NN  False
6       chuck  PROPN  NNP  False
7          if  SCONJ   IN   True
8           a    DET   DT   True
9   woodchuck   NOUN   NN  False
10      could   VERB   MD   True
11      chuck   VERB   VB  False
12       wood   NOUN   NN  False
13          ?  PUNCT    .  False

In [25]:
do_it("Which wish wished the wicked witch?")

     Text    POS  Tag   Stop
0   Which    DET  WDT   True
1    wish   VERB  VBP  False
2  wished   VERB  VBD  False
3     the    DET   DT   True
4  wicked    ADJ   JJ  False
5   witch   NOUN   NN  False
6       ?  PUNCT    .  False

In [ ]:
do_it("")

In [ ]:
do_it("")